extends layout 

block content 

    .content-container.game-delete-container 
        h1 Are you sure you want to delete #[span #{game.name}] ? 

        form(method='POST' action='')
            input#gameid(type='hidden',name='gameid', required='true', value=game._id )
            button(type='submit') Delete
            button(type='button') 
                a(href=game.url) No, go back
