extends layout 

block content 
    .content-container.genre-container 
        h1= title

        ul 
            each genre in genre_list 
                li 
                    a(href=genre.url) #{genre.name}
        .new-genre-container
            a(href='/genres/create') New genre ? Add it here