extends layout 

block content 
    .content-container.genre-detail-container 
        h1= title

        p #{genre.description}
        .genre-detail-buttons
            button 
                a(href=genre.url+'/update') Update genre
            button
                a(href=genre.url+'/delete') Delete genre
            button 
                a(href='/genres/') See all genres 