extends layout 

block content 

    .content-container.genre-form-container 
        h1= title 
        
        form(method='POST' action='')

            label(for='name') Name: 
            input#name(type='text', placeholder='Name of the genre', required='true', name='name', value=(undefined === genre ? '' : genre.name))

            label(for='description') Description: 
            textarea#description(type='text', placeholder='Brief description of the genre', name='description', rows='6',required='true', value=(undefined === genre ? '' : genre.description))

            button.submit-btn(type='submit') Submit
            if genre
                button(type='button')
                    a(href=genre.url) Go back
            
        if errors
            ul
                for error in errors
                    li!= error.msg

