extends layout 

block content 

    .genre-delete-container
        if games.length
            p #[strong Delete the following games before deleting this genre.]

            each game in games 
                .games-list
                    a(href=game.url) #{game.name}
            
            button 
                a(href='/genres/') Go back
        else 
            h1 Are you sure you want to delete #{genre.name} ? 

            form(method='POST' action='')
                input#genreid(type='hidden',name='genreid', required='true', value=genre._id )
                button.btn-delete(type='submit') Delete
