doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  
  body
    div.container
      header
        nav
          ul
            li
              a(href="/") Home
            li 
              a(href="/catalog") Browse our catalog
            li
              a(href="/genres") Check all genres
  
      main
        block content

      footer
        .footer-container 
          
          p © Jonthejon10, 2021
          
          button(type='button').git-button
            a(href='https://github.com/Jonthejon10')